footer{
    background-color: black;
    opacity: 1;
}
footer:not(:first-child){
border-top: 2px solid rgba(255,255,255,0.1) ;
}
footer .input-group-text {
    background-color: var(--color-254E58);
    color: var(--color-white);
    padding: 8px 17px;
    font-weight: 400;
    margin-left: -1px;
    font-size: 14px;
}
footer .input-group{
    width: 600px;
}
.gap-30{
    margin-left: 110px;
}

.footerlogo{
    height: 100px;
    width: 100px;
}
.icon-size{
    height: 50px;
    width: 50px;
    margin: 10px;
    margin-left: 0px;
}

.footer-head{
    background-image: linear-gradient(94.75deg,#d19a08,#fedb7e 27.6%,#eac460 50%,#d19a08 66.15%,#d19a08);
    background-size: 100%;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    font-weight: 700;
}

.foot-content{
    color: #C4B780;
}

.row{
    margin: 10px;
}
.link-class{
    text-decoration: none;
}
.link-class:hover{
    color: #ffd700;
}